nav {
    font-family: 'Italiana';font-size: 22px;
}

  


body {
    background-image: url("https://i.pinimg.com/originals/57/b3/fb/57b3fb4689ae6a5c6c45928563100259.jpg");
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 10px;
  }
  
  .card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px;
    background:  #e6e6e6;
    padding: 20px;
    margin-top: 10px;
    opacity: .9;
  
}

.fa {
  color:black;
}

 
.btn {
  
  border: none; 
  color: white;
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}


.btn:hover {
  background-color: #343E32;
}

@media screen and (min-width: 400px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  


.image-thumbnail {
    border: 5px solid #343E32;
}




    


.col-8 {
  opacity: .8;
  text-align: center;
  font-family: 'Italiana';
  border-radius: 25px;
  background:  #e6e6e6;
  padding: 20px;
  
  
}

.col-12 {
  opacity: .8;
  text-align: center;
  font-family: 'Italiana';
  border-radius: 25px;
  background:  #e6e6e6;
  padding: 20px;

}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #343E32;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #0a2711;
}


form {
  border-radius: 5px;
  background-color:#ccc;
  padding: 20px;
  margin: 30px;
  
}



.push {
  height: 30vh;
}
  
footer {
  
  position: sticky;
  bottom: 0;
  background-color:#343E32;
  padding: 18px;
  font-size: 10px;
  color:#0a2711;
  text-align: center;
  
}
